body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #16100e;
    color: #000000;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
.card{
    width: 100%;
    place-items: center;
    align-content: center;
    border-top: 0;
}
section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}
img{
    width: 100%;
}
p{
    place-items: left;
    align-content: left;
}
h1{
    color: #ffffff;
    margin-top: 40px;
}
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.row{
    margin-bottom: 30px;
}

@media(prefers-reduced-motion) {
    .hidden{
        transition: none;
    }
}
